<% if current_user == @user %>
  <h1>Hello <%= @user.firstname %>, Edit your Account Information</h1>
    <%= form_for(:user, :url => {:controller => 'users', :action => 'update'}, :method => 'put') do |f| %>
      <p> First Name:</br> <%= f.text_field :firstname%> </p>
      <p> Last Name:</br> <%= f.text_field :lastname%> </p>
      <p> Email:</br> <%= f.email_field :email%> </p>
      <p> Password:</br> <%= f.password_field :password %></p>
      <p> Password Confirmation:</br> <%= f.password_field :password_confirmation%> </p>
      <br>
      <%= f.submit :Update %>
    <% end %>
<% else %>
  <p>Hello <%= current_user.firstname %>, this is not your profile page to edit</p>
<% end %>
