<h1>New Post</h1>

<%= form_for :post, url: user_posts_path do |f| %>
 		<p>
 			<%= f.label :title %><br>
 			<%= f.text_field :title %>
 		</p>

 		<p>
 			<%= f.label :body %><br>
 			<%= f.text_area :body %>
 		</p>

 		<p>
 			<%= f.submit %>
 		</p>
<% end %>


<h1>hello questions!</h1>
<link rel="stylesheet" type="text/css" href="posts.scss">
<div class="texteditor">
	<div id="wmd-button-bar" class="wmd-panel"></div>
	<br/>
	<textarea rows="4" cols="50" id="wmd-input" class="wmd-panel"></textarea>
	<br/>
	<div id="wmd-preview" class="wmd-panel"></div>
	<br/>
	<div id="wmd-output" class="wmd-panel"></div>
	<input type="submit" value="Submit Your Question!">
</div>
