<script src="../../assets/javascript/votes.js"></script>   
<h1><%= @post.title %></h1>
<br>
<pre>
  <code class="language-markup">
    <p><%= @post.body %></p>
  </code>
</pre>

<h2>Answers</h2>
	<br>
<% @answers.each do |answer| %>
  <br>
  <% @answer = Answer.find(answer) %>
  <%= link_to like_answer_path(@answer), :method => :put do %>
    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
  <% end %>
  <h2><%= @answer.cached_votes_score %></h2>
  <%= link_to dislike_answer_path(@answer), :method => :put do %>
    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
  <% end %>
  <pre>
    <code class="language-markup-ruby">
      <p>
	<%= @answer.body %>
      </p>
    </code>
  </pre>
<% end %>

<%= render 'answers/form' %>

<div id= "answers">
  <h2> <%= @post.answers.count %> Answers</h2>
  <h3>Add an answer</h3>
</div>
