<h1><%= @post.title %></h1>
<br>
<pre>
<code class="language-markup">
<p><%= @post.body %></p>
</code>
</pre>

<h3>Answers</h3>
<pre>
<code class="language-markup">
<% Answer.where(post_id: params[:id]).each do |answer| %>
	<br><p><%= Answer.find(answer).body %></p>
<% end %>
</code>
</pre>

<%= render 'answers/form' %>

<div id= "answers">
	<h2> <%= @post.answers.count %> Answers</h2>

	<h3>Add an answer</h3>
	
</div>
