<% if !current_user %>
	<%= form_tag('/login', method: :post) do |f| %>
		<%= label_tag :email %>
		<%= email_field_tag :email %>
		<%= label_tag :password %>
		<%= password_field_tag :password %>
		<%= submit_tag "Login" %>
	<% end %>
<% else %>
	<ul class="nav navbar-nav">
		<% if current_user%>
		<li><%= link_to "Profile", user_path(current_user) %></li>
		<li>
			<%= link_to "Post", new_user_post_path(current_user.id) %>

		</li>

				<li>
			<%= link_to "My Posts", user_posts_path(current_user.id) %>

		</li>
		<% end %>
		<li><%= link_to "Logout", logout_path, method: :delete %></li>
	</ul>
<%end %>