<!DOCTYPE html>
<html>
<head>
  <title>NYCDA</title>
  <link rel="stylesheet" type="text/css" href=https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- BOOTSTRAP -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!--    WMD    -->
  <link rel="stylesheet" type="text/css" href="wmd.css" />
  <script type="text/javascript" src="showdown.js"></script>
  
</head>

<header>
		<%= render 'layouts/nav'%>
</header>

<body>
	<br><br><br><br><br><br><br>

	<div class="col-md-1"></div>
	<div id="main_content" class="col-md-10"> 
		<%= flash[:notice] if flash[:notice] %>
		<%= yield %>
	</div>
	<div class="col-md-1"></div>

</body>
</html>
